
$color: (
  primary: #403c3b,
  secondary: #f2f0f2,
  tertiary: #c1271d,
);

$tablet: 769px;
$desktop: 964px;

@function color($key) {
  @return map-get($color, $key);
}

@mixin desktop {
  @media (min-width: $desktop) {
    display: none;
  }
}

html {
  color: color(secondary);
  font-family: "Roboto", sans-serif;
}